$bg-color-header-1: #5B483A;
$bg-color-header-2: #262425;
$color-light: #FFFFFF;
$color-light-1: #F6F6F6;
$color-light-s: #FAFAFA;
$bg-color-footer-1: #513D2F;
$bg-color-footer-2: #1A1A1C;
$color-primary: #F1CDB3;
$color-primary-light:#FDDCC4;
$color-dark-s: #CDCDCD;
$color-dark-3xl: #292929;
$color-dark-1: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-m: #B2B2B2;


$desktop-width: 1280px;
