@mixin font($size:1.5rem,$height:2.4rem,$weight:400,$style:normal) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  font-style: $style;
}

@mixin column($width) {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  > * {
    flex-basis: $width;
  }
}

@mixin media-tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin media-min($value) {
  @media (min-width: $value) {
    @content;
  }
}