@mixin font($size:1.5rem,$height:2.4rem,$weight:400,$style:normal) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  font-style: $style;
}

@mixin column($width) {
  display: flex;
  > * {
    flex-basis: $width;
  }
}