
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media-mobile {
    padding: 0 20px;
  }
}

.header__logo {
  display: flex;
  flex-flow: column;
  cursor: pointer;
}

.logo__title {
  margin: 0 0 10px;
}

.logo__subtitle {
  @extend %font-f-secondary;
  @include font(1.3rem, 1.495rem);
  letter-spacing: 0.1em;
  padding: 0 0 0 4px;
}

.header__navigation {
  @include media-min(768px) {
    position: static;
    background-color: transparent;
    width: auto;
    transform: translateX(0%);
    transition: none;
  }
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-dark-3xl;
  width: 320px;
  @extend %transition;
  transform: translateX(100%);

  &._open {
    transform: translateX(0%);
  }
}