.wrapper {
  max-width: $desktop-width;
  margin: auto;
  padding: 0 40px;
  @include media-tablet{
    padding: 0 30px;
    //max-width: $tablet-width;
  }
  @include media-mobile{
    padding: 0 10px;
  }
}