%burger-line {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $color-primary;

  .header__burger._open & {
    width: 2px;
    height: 100%;
  }
}

.header__burger {
  display: none;
  width: 28px;
  height: 22px;
  position: relative;

  &:before {
    @extend %burger-line;
    left: 0;
    top: 0px;
    @extend %transition;
  }

  &._open:before {
    width: 2px;
    height: 100%;
    left: 0;
    top: 0%;
  }

  &:after {
    @extend %burger-line;
    top: 20px;
    right: 0;
    @extend %transition;
  }

  &._open:after {
    width: 2px;
    height: 100%;
    right: 0;
    top: 0;
  }

  @media (max-width: 767px) {
    display: inline-block;
  }
}

.burger__line {
  @extend %burger-line;
  right: 0;
  top: -webkit-calc(50% - 1px);
  @extend %transition;

  .header__burger._open & {
    top: 0;
    right: -webkit-calc(50% - 1px);
  }
}

