.icon {
  cursor: pointer;
  display: inline-block;

  &_round {
    border-radius: 100px;
    border: 2px solid $color-primary;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    @extend %transition;

    &:hover {
      background-color: $color-primary;
    }
  }

}

//webstorm throw errors but this is right way
.arrow_left {
  background-image: url("../assets/icons/arrow-left.svg");
  width: 14px;
  height: 6px;

}

.arrow_right {
  background-image: url("../assets/icons/arrow-right.svg");
  width: 14px;
  height: 6px;
}

.help__icon {
  display: inline-flex;
  flex-flow: column;
  align-items: center;
  max-width: max-content;
  gap: 30px;
}

.icon_help {
  width: 60px;
  height: 60px;
}

//webstorm throw errors but this is right way
.icon_food {
  background-image: url("../assets/icons/icon-pet-food.svg");
}

.icon_transport {
  background-image: url("../assets/icons/icon-transportation.svg");
}

.icon_toys {
  background-image: url("../assets/icons/icon-toys.svg");

}

.icon_bowls {
  background-image: url("../assets/icons/icon-bowls-and-cups.svg");
}

.icon_shampoo {
  background-image: url("../assets/icons/icon-shampoos.svg");
}

.icon_vitamins {
  background-image: url("../assets/icons/icon-vitamins.svg");
}

.icon_medicines {
  background-image: url("../assets/icons/icon-medicines.svg");
}

.icon_collars {
  background-image: url("../assets/icons/icon-collars-leashes.svg");
}

.icon_sleep {
  background-image: url("../assets/icons/icon-sleeping-area.svg");
}

.credit-card__icon {
  display: inline-block;
  background-image: url("../assets/icons/credit-card.svg");
  width: 30px;
  height: 23px;
}