.help {
  background-color: $color-light;
}

.help__wrapper {
  padding: 80px 0 100px 0;
  display: flex;
  flex-flow: column;
  gap: 60px;
  color: $color-dark-1;
}

.help__title {
  text-align: center;
}

.help__icons {
  flex-flow: wrap;
  justify-content: center;
  gap: 55px 120px;
  padding: 0 87px;
  @include media-tablet{
    gap: 55px 60px;
    padding: 0 69px;
    >*{
      max-width: 170px;
      flex-basis: 33%;
    }
  }
}

