
.navigation {
  @include media-min(768px) {
    display: flex;
    flex-flow: row;
    margin: 0;
    padding: 0;
    gap: 36px;
  }
  display: flex;
  flex-flow: column;
  gap: 40px;
}

.navigation__item {
  position: relative;

  &.active-link {
    &:after {
      content: '';
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 3px;
      left: 0;
      bottom: -2px;
      background-color: $color-primary;
    }
  }
}

.navigation__link {
  @include media-min(768px){
    font-family: Arial, sans-serif;
    @include font();
    margin: 0;
    padding: 0;
  }
  @include font(3.2rem,5.1rem);

}
