
.navigation {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 35px;
}

//.navigation__item.active {
//  color: $color-light-s;
//  text-decoration: underline;
//  text-decoration-thickness: 3px;
//  text-decoration-color: $color-primary;
//
//}

.navigation__item {
  position: relative;
  &.active {
    &:after {
      content: '';
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 3px;
      left: 0;
      bottom: -2px;
      background-color: $color-primary;
    }
  }
}
