.main {
  .header__logo{
    color: $color-primary;
  }
  .logo__subtitle{
    color: $color-light;
  }
  .navigation__item {
    color: $color-dark-s;

    &:hover {
      color: $color-light-s;
    }

  }

}