.main {
  //for header
  &.header {
    padding: 30px 0 90px 0;
    @include media-tablet{
      padding: 30px 0 60px 0;
    }
  }

  .header__logo {
    color: $color-primary;
    @extend %transition;

    &:hover {
      color: $color-primary-light;
    }
  }

  .logo__subtitle {
    color: $color-light;
  }

  .navigation__item {
    color: $color-dark-s;
    @extend %transition;

    &.active-link {
      color: $color-light-s;
    }

    &:not(.active-link):hover {
      color: $color-light-s;
    }

  }

  //for section our-friends
  &.our-friends__wrapper {
    gap: 60px;
  }

  &.our-friends__slider {
    align-items: center;
    gap: 53px;
    flex-flow: wrap;
  }

  &.slider__cards {
    gap: 90px;
  }
}