
.main {
  //for header
  &.header {
    padding: 30px 0 90px 0;
    @include media-tablet {
      padding: 30px 0 60px 0;
    }
  }

  .header__logo {
    color: $color-primary;
    @extend %transition;

    &:hover {
      color: $color-primary-light;
    }
  }

  .logo__subtitle {
    color: $color-light;
  }

  .navigation__item {
    color: $color-dark-s;
    @extend %transition;

    &.active-link {
      color: $color-light-s;
    }

    &:not(.active-link):hover {
      color: $color-light-s;
    }

  }


  //for section our-friends
  &.our-friends__wrapper {
    gap: 60px;
    @include media-mobile {
      gap: 42px;
      padding: 33px 10px 56px 10px;
    }
  }

  &.our-friends__slider {
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    padding: 0 11.33%;
    //gap: 53px;
    //flex-flow: wrap;
    @include media-tablet {
      // gap: 42px;
      flex-flow: column;
    }
    @include media-mobile {
      padding: 0;
    }

  }

  &.slider__cards {
    width: 100%;
    overflow: hidden;
    @include media-tablet {
      width: 93.18%;
      overflow: hidden;
      flex-flow: nowrap;
      //> * {
      //  flex-basis: 47%;
      //
      //}
    }
    @media (max-width: 767px) {
      max-width: 100%;
      flex-flow: wrap;
      margin: 0 0 10px 0;

      > * {
        flex-basis: 100%;

      }
      .card:not(:first-child) {
        display: none;
      }
    }

  }

  @include media-mobile {
    .card:not(:first-child) {
      display: none;
    }
  }

}


.slider {
  display: flex;
  gap: 90px;
  position: relative;
  left: -webkit-calc(-100% - 90px);


}

@keyframes move-right {
  from {
    left: -webkit-calc(-100% - 90px);
  }
  to {
    left: -webkit-calc(-200% - 180px);
  }

}

.transition-right {
  animation-name: move-right;
  animation-duration: 5s;
}
@keyframes move-left {
  from {
    left: -webkit-calc(-100% - 90px);
  }
  to {
    left: 0%;
  }

}

.transition-left {
  animation-name: move-left;
  animation-duration: 5s;
}

.slider__button {
  position: absolute;
  top: -webkit-calc(50% - 26px);

  @media (max-width: 767px) {
    display: none;
    position: static;
    &.mobile {
      display: flex;

    }
  }

  &.left {
    left: 40px;
  }

  &.right {
    right: 40px;
  }

}

.mobile-slider__buttons {
  display: none;
  @media (max-width: 767px) {
    display: flex;
    justify-content: space-between;
    width: 68%;
  }
}

