
.pets {
  //for header
  &.header {
    padding: 30px 0;
  }

  .header__logo {
    color: $color-dark-1;
    @extend %transition;

    & .logo__subtitle {
      color: $color-dark-3xl;
    }

    &:hover {
      color: $color-dark-3xl;
    }
  }

  &.header__navigation {
    background-color: #FFFFFF;
  }

  .navigation__item {
    color: $color-dark-1;
    @extend %transition;

    &:hover {
      color: $color-dark-3xl;
    }
  }

  &.header__burger:before, :after, &.burger__line {
    background-color: $color-dark;;
  }

  //for section our-friends
  &.our-friends__wrapper {
    gap: 45px;
    @include media-tablet {
      gap: 0;
      padding: 80px 0 76px 0;
    }
    @include media-mobile {
      padding: 42px 10px;
      gap: 42px;
    }
  }

  .our-friends__title {
    @include media-tablet {
      margin: 0 0 30px 0;
    }
    @include media-mobile {
      margin: 0;
    }
  }

  &.our-friends__slider {
    padding: 15px 0;
    margin: 0 40px;
    gap: 30px 40px;
    @include media-tablet {
      padding: 0;
      margin: 0 94px 40px 94px;
      max-height: 1365px;
      overflow: hidden;
      > * {
        flex-basis: 45%;
      }
    }
    @include media-mobile {
      margin: 0;
    }
  }


}

.slider__navigation {
  display: flex;
  gap: 20px;
  @include media-mobile {
    gap: 10px;
  }
}